{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container py-4">

<h1 class="mb-4 text-center">Buscar Propiedades</h1>

<!-- Buscador -->
<div class="d-flex justify-content-center mb-4">
    {% include "partials/buscador.html" %}
</div>

<h2 class="mb-4 text-center">Resultados</h2>

<div class="row">
  {% for propiedad in propiedades %}
    {% include "partials/property_card.html" %}
  {% empty %}
    <p class="text-center">No se encontraron propiedades.</p>
    <a class="text-center" href="{% url 'home' %}">Volver al inicio</a>
  {% endfor %}
</div>

</section>
{% endblock %}
